:host {
  background: rgba(var(--ion-color-light-rgb), 0.7);
  backdrop-filter: blur(6px);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
}

ion-list {
  background-color: transparent !important;
  width: 100%;
  margin: auto;

  ion-item-divider {
    background-color: transparent;
    color: var(--ion-color-dark);
    border: none;
  }

  ion-item {
    margin-bottom: 10px;
    --background: transparent;
    --color: var(--ion-color-light-contrast);
    --inner-border-width: 0;

    ion-icon,
    i.material-icons {
      color: var(--ion-color-light-contrast);
      margin-right: 16px;
    }
  }
}
