<div class="calculator" (click)="mathInput.mathInput.focus()">
  <div class="calculator-input">
    <ion-button
      (tap)="
    forceDeg = !forceDeg;
    onExprChange(expr);
    "
      fill="clear"
      [color]="globals.currentTheme.includes('pure-white') || globals.currentTheme.includes('pure-black') ? 'dark' : 'tertiary'"
      >{{ forceDeg ? 'DEG': 'RAD' }}</ion-button
    >
    <div class="calculation-container">
      <app-math-input
        [eval]="mathEvaluator.evaluateAndFormat.bind(mathEvaluator)"
        (exprChange)="onExprChange($event)"
        #mathInput
      ></app-math-input>
      <p class="current-result">{{ formatNumber(currentResult) }}</p>
    </div>
  </div>

  <app-more-commands-menu
    *ngIf="calculator.gridStyles.gridSize !== 'large'"
    [gridSize]="calculator.gridStyles.gridSize"
    [addSymbolToCalculation]="mathInput.addSymbolToCalculation.bind(mathInput)"
  ></app-more-commands-menu>

  <app-math-buttons
    [grid]="calculator.gridStyles.gridSize === 'small'
      ? smallMathBtnGrid
      : (calculator.gridStyles.gridSize === 'medium' ? mediumMathBtnGrid : largeMathBtnGrid)"
    [gridStyles]="calculator.gridStyles"
    [ngStyle]="{ top: calculator.gridStyles.gridSize === 'large' ? '25%' : '30%' }"
  ></app-math-buttons>
</div>
