<div class="calculator" (click)="mathInput.mathInput.focus()">
  <div class="calculator-input">
    <ion-button
      (tap)="
    forceDeg = !forceDeg;
    onExprChange(expr);
    "
      fill="clear"
      [color]="globals.currentTheme.includes('pure-white') || globals.currentTheme.includes('pure-black') ? 'dark' : 'tertiary'"
      >{{ forceDeg ? 'DEG': 'RAD' }}</ion-button
    >
    <div class="calculation-container">
      <app-math-input
        [commands]="mathCommands"
        [eval]="mathEvaluator.evaluateAndFormat.bind(mathEvaluator)"
        [isInversed]="currentMathButtonGrid ? currentMathButtonGrid.isInversed : false"
        [isHyperbolic]="currentMathButtonGrid ? currentMathButtonGrid.isHyperbolic : false"
        [customOperatorSymbols]="{ multiply: 'x', divide: '÷' }"
        (exprChange)="onExprChange($event)"
        #mathInput
      ></app-math-input>
      <p class="current-result" *ngIf="expr[0] !== '=' && expr.length !== 0">{{ formatNumber(currentResult) }}</p>
    </div>
  </div>

  <app-more-commands-menu
    *ngIf="calculator.gridStyles.gridSize !== 'large'"
    [gridSize]="calculator.gridStyles.gridSize"
    [addSymbolToExpr]="mathInput.addSymbolToExpr.bind(mathInput)"
  ></app-more-commands-menu>

  <app-math-buttons
    [grid]="currentMathButtonGrid"
    [gridStyles]="calculator.gridStyles"
    [ngStyle]="{ top: calculator.gridStyles.gridSize === 'large' ? '25%' : '30%' }"
  ></app-math-buttons>
</div>
