<ion-button
  (click)="presentSettingsModal(); closePopover()"
  color="light"
  expand="full"
  fill="clear"
  class="ion-text-capitalize"
>
  Settings
</ion-button>

<ion-button
  *ngIf="globals.currentCalculator === 'Calculator'"
  (click)="presentCustomizeCalculatorButtonsModal(); closePopover()"
  color="light"
  expand="full"
  fill="clear"
  class="ion-text-capitalize"
>
  Calculator layout
</ion-button>

<ion-button
  (click)="closePopover()"
  color="light"
  expand="full"
  fill="clear"
  class="ion-text-capitalize"
  >Close
</ion-button>
