<ion-button
  (click)="globals.settingsView = 'settings'; closePopover()"
  color="light"
  expand="full"
  fill="clear"
  class="ion-text-capitalize"
>
  Settings
</ion-button>

<ion-button
  *ngIf="globals.currentCalculator === 'Calculator'"
  (click)="globals.isCalculatorButtonSettingsMenuOpen = true; closePopover()"
  color="light"
  expand="full"
  fill="clear"
  class="ion-text-capitalize"
>
  Calculator layout
</ion-button>

<ion-button (click)="closePopover()" color="light" expand="full" fill="clear" class="ion-text-capitalize"
  >Close
</ion-button>
