:host {
  background-color: var(--ion-color-light);
}

.graph-container {
  position: absolute;
  width: 100%;
  height: 60%;
  transition: height 0.5s ease;

  > svg {
    width: 100%;
    height: 100%;

    .axes {
      .axis-number {
        font: normal 14px 'Nunito Sans';
        fill: var(--ion-color-dark-shade);
      }

      .x-axis .axis-number {
        text-anchor: middle;
      }

      .y-axis .axis-number {
        text-anchor: end;
      }
    }
  }
}

.input-container {
  background-color: var(--ion-color-light-tint);
  height: 45%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transition: bottom 0.5s ease;
  overflow: hidden;

  .swipe-container {
    background-color: rgba(var(--ion-color-light-shade-rgb), 0.25);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      transition: 0.5s ease;
      color: var(--ion-color-light-contrast);
    }
  }
}
