<div
  (panstart)="canvasCtrl.pan($event); drawingCtrl.handleDraw()"
  (panmove)="canvasCtrl.pan($event); drawingCtrl.handleDraw()"
  (pinchin)="canvasCtrl.zoom(0.5); drawingCtrl.handleDraw()"
  (pinchout)="canvasCtrl.zoom(-0.5); drawingCtrl.handleDraw()"
  [style.height]="isInputContainerOpen ? '60vh' : '95vh'"
  class="graph-container"
  #canvascontainer
>
  <canvas width="4000" height="2000" id="canvas" #canvas></canvas>
</div>

<div
  class="input-container"
  [style.bottom]="isInputContainerOpen ? '0' : '-40vh'"
>
  <div
    (click)="isInputContainerOpen = !isInputContainerOpen; onResize()"
    (swipeup)="isInputContainerOpen = true; onResize()"
    (swipedown)="isInputContainerOpen = false; onResize()"
    class="swipe-container"
  >
    <i
      [style.transform]="isInputContainerOpen ? 'rotate(0deg)' : 'rotate(180deg)'"
      class="material-icons"
      >expand_more</i
    >
  </div>
  <div class="list-container">
    <ion-list class="special-symbol-buttons-container">
      <ion-item button (click)="addSpecialSymbolToEquation('π')">π</ion-item>
      <ion-item button (click)="addSpecialSymbolToEquation('√')">√</ion-item>
      <ion-item button (click)="addSpecialSymbolToEquation('^')">^</ion-item>
    </ion-list>
    <ion-list class="equations-container">
      <ion-item
        *ngFor="let equation of equations; let i = index; trackBy: trackBy"
      >
        <ion-buttons slot="start">
          <ion-button (click)="equations.splice(equation, 1)">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-input
          type="text"
          (input)="changeEquation(i, $event.target.value); drawingCtrl.handleDraw(); caretPosition = $event.target.selectionStart"
          (ionFocus)="onEquationInputFocus(i, $event.target)"
          (ionBlur)="caretPosition = $event.target.firstChild.selectionStart"
          [value]="equation"
          placeholder="Type in an equation or coordinates"
        ></ion-input>
      </ion-item>
      <ion-item button (click)="equations.push('')" class="add-serie-button">
        <div class="add-icon-container">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
        <ion-label>Add equation</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
