<div (pinchout)="svgCtrl.zoom(-0.5)" (tap)="onTap($event.tapCount)" class="graph-container" #svgcontainer>
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" #svg>
    <g class="axes" *ngIf="svgCtrl">
      <svg class="x-axis">
        <line
          [attr.x1]="svgCtrl.svgSides.left"
          [attr.x2]="svgCtrl.svgSides.right"
          [attr.y1]="svgCtrl.svgOffset.y"
          [attr.y2]="svgCtrl.svgOffset.y"
          stroke="var(--ion-color-dark-shade)"
          stroke-width="1.5"
        />
        <g class="axis-numbers-positive">
          <text
            *ngFor="let number of svgCtrl.axisNumbers.x.positive; let i = index"
            [attr.x]="svgCtrl.svgOffset.x + svgCtrl.squareSize * (i + 1)"
            [attr.y]="svgCtrl.svgOffset.y + 25 > svgCtrl.svgSides.top + 25
              ? (svgCtrl.svgOffset.y + 25 < (isInputContainerOpen
                ? svgCtrl.svgSides.bottom * 0.55 - 25
                : svgCtrl.svgSides.bottom - 16 - 25)
                  ? svgCtrl.svgOffset.y + 25
                  : (isInputContainerOpen
                    ? svgCtrl.svgSides.bottom * 0.55 - 25
                    : svgCtrl.svgSides.bottom - 16 - 25))
              : svgCtrl.svgSides.top + 25"
            class="axis-number"
          >
            {{ number }}
          </text>
        </g>
        <g class="axis-number-negative">
          <text
            *ngFor="let number of svgCtrl.axisNumbers.x.negative; let i = index"
            [attr.x]="svgCtrl.svgOffset.x - svgCtrl.squareSize * (i + 1)"
            [attr.y]="svgCtrl.svgOffset.y + 25 > svgCtrl.svgSides.top + 25
              ? (svgCtrl.svgOffset.y + 25 < (isInputContainerOpen
                ? svgCtrl.svgSides.bottom * 0.55 - 25
                : svgCtrl.svgSides.bottom - 16 - 25)
                  ? svgCtrl.svgOffset.y + 25
                  : (isInputContainerOpen
                    ? svgCtrl.svgSides.bottom * 0.55 - 25
                    : svgCtrl.svgSides.bottom - 16 - 25))
              : svgCtrl.svgSides.top + 25"
            class="axis-number"
          >
            {{ number }}
          </text>
        </g>
      </svg>
      <svg class="y-axis">
        <line
          [attr.x1]="svgCtrl.svgOffset.x"
          [attr.x2]="svgCtrl.svgOffset.x"
          [attr.y1]="svgCtrl.svgSides.top"
          [attr.y2]="svgCtrl.svgSides.bottom"
          stroke="var(--ion-color-dark-shade)"
          stroke-width="1.5"
        />
        <g class="axis-numbers-positive">
          <text
            *ngFor="let number of svgCtrl.axisNumbers.y.positive; let i = index"
            [attr.x]="svgCtrl.svgOffset.x - 25 > svgCtrl.svgSides.left + 25 ? (svgCtrl.svgOffset.x - 25 < svgCtrl.svgSides.right - 25 ? svgCtrl.svgOffset.x - 25 : svgCtrl.svgSides.right - 25) : svgCtrl.svgSides.left + 25"
            [attr.y]="svgCtrl.svgOffset.y - svgCtrl.squareSize * (i + 1)"
            [style.text-anchor]="svgCtrl.svgOffset.x - 25 > svgCtrl.svgSides.left + 25 ? 'end' : 'start'"
            class="axis-number"
          >
            {{ number }}
          </text>
        </g>
        <g class="axis-numbers-negative">
          <text
            *ngFor="let number of svgCtrl.axisNumbers.y.negative; let i = index"
            [attr.x]="svgCtrl.svgOffset.x - 25 > svgCtrl.svgSides.left + 25 ? (svgCtrl.svgOffset.x - 25 < svgCtrl.svgSides.right - 25 ? svgCtrl.svgOffset.x - 25 : svgCtrl.svgSides.right - 25) : svgCtrl.svgSides.left + 25"
            [attr.y]="svgCtrl.svgOffset.y + svgCtrl.squareSize * (i + 1)"
            [style.text-anchor]="svgCtrl.svgOffset.x - 25 > svgCtrl.svgSides.left + 25 ? 'end' : 'start'"
            class="axis-number"
          >
            {{ number }}
          </text>
        </g>
      </svg>
    </g>
    <g class="grids" *ngIf="svgCtrl">
      <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <pattern
            id="smallGrid"
            [attr.width]="svgCtrl.squareSize / 5"
            [attr.height]="svgCtrl.squareSize / 5"
            patternUnits="userSpaceOnUse"
          >
            <path
              [attr.d]="'M ' + svgCtrl.squareSize / 5 +' 0 L 0 0 0 '+ svgCtrl.squareSize / 5"
              fill="none"
              stroke="var(--ion-color-dark-tint)"
              stroke-width="0.5"
            />
          </pattern>
          <pattern
            id="grid"
            [attr.width]="svgCtrl.squareSize"
            [attr.height]="svgCtrl.squareSize"
            [attr.x]="svgCtrl.svgOffset.x"
            [attr.y]="svgCtrl.svgOffset.y"
            patternUnits="userSpaceOnUse"
          >
            <rect [attr.width]="svgCtrl.squareSize" [attr.height]="svgCtrl.squareSize" fill="url(#smallGrid)" />
            <path
              [attr.d]="'M ' + svgCtrl.squareSize + ' 0 L 0 0 0 ' + svgCtrl.squareSize"
              fill="none"
              stroke="var(--ion-color-dark-tint)"
              stroke-width="1"
            />
          </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#grid)" />
      </svg>
    </g>
    <g class="graphs" *ngIf="graphs && svgCtrl">
      <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" *ngFor="let graph of graphs">
        <path
          *ngIf="graph.type === 'Line'"
          [attr.d]="graph.svgPath"
          [attr.stroke]="graph.style.stroke"
          [attr.stroke-width]="graph.style.strokeWidth"
          [attr.fill]="graph.style.fill"
          [attr.transform]="'translate(' + (svgCtrl.svgOffset.x - svgCtrl.svgMiddle.x) + ', ' + (svgCtrl.svgOffset.y - svgCtrl.svgMiddle.y) + ')'"
        />
        <circle
          *ngIf="graph.type === 'Point'"
          [attr.cx]="svgCtrl.graphCoordToSvgCoord({ x: +graph.x, y: +graph.y }).x + (svgCtrl.svgOffset.x - svgCtrl.svgMiddle.x)"
          [attr.cy]="svgCtrl.graphCoordToSvgCoord({ x: +graph.x, y: +graph.y }).y + (svgCtrl.svgOffset.y - svgCtrl.svgMiddle.y)"
          [attr.r]="graph.style.radius"
          [attr.stroke]="graph.style.stroke"
          [attr.stroke-width]="graph.style.strokeWidth"
          [attr.fill]="graph.style.fill"
        />
      </svg>
    </g>
  </svg>
</div>

<app-glass-card
  class="input-container"
  [style.bottom]="isInputContainerOpen ? '16px' : 'calc(-45% + 32px)'"
  [hasBoxShadow]="true"
>
  <div
    (click)="isInputContainerOpen = !isInputContainerOpen"
    (swipeup)="isInputContainerOpen = true"
    (swipedown)="isInputContainerOpen = false"
    class="swipe-container"
  >
    <i [style.transform]="isInputContainerOpen ? 'rotate(0deg)' : 'rotate(180deg)'" class="material-icons"
      >expand_more</i
    >
  </div>
  <graphing-calculator-control-panel
    [graphs]="graphs"
    [evalExpr]="evalExpr"
    (addGraph)="addGraph($event)"
    (removeGraph)="removeGraph($event)"
    (equationChange)="graphs[$event.graphIndex].equation = $event.value"
    (changeStrokeWidth)="graphs[$event.index].style.strokeWidth = $event.width"
  ></graphing-calculator-control-panel>
</app-glass-card>
