div {
  height: 100%;
  display: flex;
}

canvas {
  width: auto !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 265px;
  padding: 0 15px 0 15px !important;
  margin: auto !important;
}
