.control-panel {
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 100%;
  padding: 16px;
  overflow: auto;

  ion-item {
    --color: var(--ion-color-light-contrast);
    --background: var(--ion-color-light-tint);
    border-radius: 8px;
    margin-bottom: 8px;

    .graph-input-container {
      display: flex;
      align-items: center;
      flex: 1;
      cursor: text;

      input {
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .add-graph-button {
    --color: var(--ion-color-light-contrast);
    --background: transparent;
    --inner-border-width: 0;

    .add-icon-container {
      width: 48px;
      height: 48px;
      margin-right: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        width: 24px;
        height: 24px;
        color: var(--ion-color-light-contrast);
      }
    }
  }
}
