:host {
  background-color: var(--ion-color-light);
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 15vh 15px 5vh 15px;

  .unit-selection-container {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    box-sizing: border-box;
    .unit-container,
    .amount-input-container {
      width: 45%;
      padding: 0;
      & > ion-label {
        display: flex;
        align-items: center;
        height: 5vh;
        font-size: 2.5vh;
        font-weight: bolder;
        color: var(--ion-color-light-contrast);
      }
    }
    ion-select,
    ion-input {
      display: flex;
      align-items: center;
      height: 10vh;
      font-size: 3.5vh;
      padding-left: 10px;
      padding-right: 10px;
      background-color: var(--ion-color-light-tint);
      color: var(--ion-color-light-contrast);
      border-radius: 5px;
      font-weight: bolder;
    }
  }

  .results-container {
    background-color: var(--ion-color-light-tint);
    color: var(--ion-color-light-contrast);
    box-sizing: border-box;
    width: 100%;
    height: 60vh;
    border-radius: 5px;
    overflow: auto;

    ion-list {
      padding: 0;
      background-color: var(--ion-color-light-tint);

      .header-container {
        display: flex;
        justify-content: space-between;
        ion-list-header {
          display: block;
          width: 50%;
          font-weight: bolder;
          font-size: 1.3rem;
          color: var(--ion-color-primary-contrast);
          background-color: rgba(var(--ion-color-primary-rgb), 0.75);
          &:last-child {
            padding: 0 !important;
          }
        }
      }
      ion-item-group {
        ion-item-divider {
          background-color: rgba(var(--ion-color-light-shade-rgb), 0.25);
          ion-label {
            font-weight: normal !important;
            font-size: 1.15rem !important;
            color: var(--ion-color-light-contrast) !important;
          }
        }
        ion-item {
          --background: var(--ion-color-light-tint);
          --color: var(--ion-color-light-contrast);
        }
      }
    }
  }
}
