:host {
  background: rgba(var(--ion-color-light-rgb), 0.7);
  backdrop-filter: blur(6px);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
}

ion-list {
  background-color: transparent !important;
  width: 85%;
  margin: auto;

  ion-item-divider {
    background-color: transparent;
    color: var(--ion-color-dark);
    border: none;
  }

  ion-item {
    border-radius: 5px;
    margin-bottom: 10px;
    --inner-border-width: 0;
  }
}

p {
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  color: var(--ion-color-light-contrast);
}
