ion-list {
  padding: 0;
  background: transparent;

  .toggle-collapse-button {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);

    ion-label {
      white-space: normal;
    }

    ion-icon {
      transition: 0.2s ease;
      color: var(--ion-color-light-contrast);
    }
  }

  .list-item-container {
    transition: 0.2s ease;
    background: var(--ion-color-light-tint);
  }
}
