<ion-list>
  <ion-item
    button
    (click)="isCollapsed ? expand() : collapse()"
    class="toggle-collapse-button"
    [style.--background]="styles.background"
    [style.--color]="styles.color"
  >
    <ion-label>{{ listName }}</ion-label>
    <ion-icon
      *ngIf="iconName"
      [name]="iconName"
      [style.--color]="styles.color"
      [ngStyle]="{
        transform: 'rotate(' + (isCollapsed ? '0deg' : '180deg') + ')'
      }"
    ></ion-icon>
  </ion-item>

  <!-- the list items will be placed here -->
  <div
    class="list-item-container"
    [style.--background]="styles.background"
    #accordionlist
  >
    <ng-content></ng-content>
  </div>
</ion-list>
