ion-list {
  padding: 0;
  background: transparent;

  ion-item {
    --border-color: transparent;
  }

  .toggle-collapse-button {
    --background: transparent;
    --color: var(--ion-color-light-contrast);

    ion-label {
      white-space: normal;
    }

    ion-icon {
      transition: 0.2s ease;
      color: var(--ion-color-light-contrast);
    }
  }

  .list-item-container {
    margin-left: 16px;
    transition: 0.2s ease;
    background: transparent;
    border-left: 1px solid rgba(var(--ion-color-dark-rgb), 0.5);
  }
}
