<ion-menu side="start" menuId="first" contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Calculator</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        button
        *ngFor="let button of calculatorMenuButtons; let i = index"
        (click)="changeCalculator.emit({ calculatorName: button.buttonName })"
      >
        <ion-icon [name]="button.icon.iconName"></ion-icon>
        <ion-label>{{ button.buttonName }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
