<h3>About Calculator</h3>
<p>
  Calculator is a free calculator with modern UI made by me.<br />
  There are various stylish themes to choose from allowing you to make this
  calculator your own.<br />
  You can use various different calculators and converters (more to come in the
  future), all in one app.
  <br /><br />Feel free to give a review on the Google Play store and leave some
  suggestions for improvements and updates. <br /><br />
  Calculator was made with Angular 9.0.3.
</p>

<h3>About Gamitopia</h3>
<p>
  I have a website called
  <a href="https://gamitopia.herokuapp.com">Gamitopia</a> where I post free
  games and other coding projects made by me. I also write news/blog posts
  regarding website updates, game announcements and more. <br /><br />Feel free
  to try out some of Gamitopia's games. More games and projects will be
  published there (and some maybe on the Google Play store) in the future.
</p>
<h3>About me</h3>
I am a Finnish junior high school student and I have used various different web
technologies for roughly 3-4 years. I have mainly used Vue.js (with HTML, SCSS
and TS) but I have experimented with other frameworks and languages as well.
Making Calculator was my first time properly using Angular.
<br /><br />
The goal for this project was to make a simple calculator that I would like to
use. I also wanted to learn how to use Angular and how to make and publish
mobile apps.
