<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openCalculatorMenu.emit()" slot="start">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" slot="start">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{
      globals.currentCalculator
        ? globals.currentCalculator
        : getCalculatorNameFromRoute()
    }}</ion-title>
  </ion-toolbar>
</ion-header>
