ion-toolbar {
  --background: transparent;
  --color: var(--ion-color-light-contrast);
  text-align: center;
  position: absolute;
  z-index: 3;

  ion-icon {
    color: var(--ion-color-light-contrast);
  }
}
