:host > button {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  transition: 0.2s;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  color: white;
  &:hover {
    background-color: rgba(var(--color-tertiary-rgb), 0.4);
  }
  &:active {
    background-color: rgba(var(--color-tertiary-rgb), 0.75);
  }

  i,
  img {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin-left: 20px;
    font-size: 20px;
  }
}
