<ion-app>
  <ion-content id="content">
    <app-top-bar
      (openCalculatorMenu)="calculatorMenu.openFirst()"
      (openSettingsMenu)="isSettingsMenuOpen = true"
      (openBasicCalculatorButtonSettingsMenu)="
        isBasicCalculatorButtonSettingsMenuOpen = true
      "
    ></app-top-bar>

    <app-settings-menu
      *ngIf="isSettingsMenuOpen"
      (closeSettingsMenu)="isSettingsMenuOpen = false"
    ></app-settings-menu>

    <!-- Calculators and converters -->
    <app-basic-calculator
      *ngIf="globals.currentCalculator === 'Basic calculator'"
      [isBasicCalculatorButtonSettingsMenuOpen]="
        isBasicCalculatorButtonSettingsMenuOpen
      "
      (closeBasicCalculatorButtonSettingsMenu)="
        isBasicCalculatorButtonSettingsMenuOpen = false
      "
    ></app-basic-calculator>
    <app-length-converter
      *ngIf="globals.currentCalculator === 'Length converter'"
    ></app-length-converter>
    <app-currency-converter
      *ngIf="globals.currentCalculator === 'Currency converter'"
    ></app-currency-converter>
  </ion-content>

  <app-calculator-menu
    #calculatormenu
    (changeCalculator)="globals.changeCurrentCalculator($event.calculatorName)"
  ></app-calculator-menu>
</ion-app>
