<div>
  <div class="unit-selection-container">
    <ion-label>Choose a unit</ion-label>
    <ion-select
      value="meter"
      okText="Confirm"
      cancelText="Cancel"
      placeholder="Choose the unit"
      [(ngModel)]="currentUnitName"
      (ionChange)="
        currentUnit = unitConverter.findUnitByName(currentUnitName, lengthUnits)
      "
    >
      <ion-select-option
        *ngFor="let unit of lengthUnits.metric"
        [value]="unit.name"
        >{{ unit.name }} ({{ unit.abbreviation }})</ion-select-option
      >
      <ion-select-option *ngFor="let unit of lengthUnits.us" [value]="unit.name"
        >{{ unit.name }} ({{ unit.abbreviation }})</ion-select-option
      >
    </ion-select>
  </div>
  <div class="amount-input-container">
    <ion-label>Choose amount</ion-label>
    <ion-input
      (ionChange)="amount = $event.target.value"
      [value]="amount"
      type="number"
      inputmode="numeric"
      placeholder="Type input"
    ></ion-input>
  </div>

  <div class="results-container">
    <ion-list>
      <div class="header-container">
        <ion-list-header>Unit</ion-list-header>
        <ion-list-header>Value</ion-list-header>
      </div>
      <ion-item-group>
        <app-accordion-list
          [listName]="'SI'"
          [iconName]="'chevron-down-outline'"
          [background]="'rgba(var(--ion-color-light-shade-rgb), 0.3)'"
        >
          <ion-item *ngFor="let unit of lengthUnits.metric">
            <ion-label>{{ unit.name }} ({{ unit.abbreviation }})</ion-label>
            <ion-label>{{
              unitConverter.convertUnit(unit, currentUnit, amount)
            }}</ion-label>
          </ion-item>
        </app-accordion-list>
      </ion-item-group>

      <ion-item-group>
        <app-accordion-list
          [listName]="'Imperial/US'"
          [iconName]="'chevron-down-outline'"
          [background]="'rgba(var(--ion-color-light-shade-rgb), 0.3)'"
        >
          <ion-item *ngFor="let unit of lengthUnits.us">
            <ion-label>{{ unit.name }} ({{ unit.abbreviation }})</ion-label>
            <ion-label>{{
              unitConverter.convertUnit(unit, currentUnit, amount)
            }}</ion-label>
          </ion-item>
        </app-accordion-list>
      </ion-item-group>
    </ion-list>
  </div>
</div>
