<div>
  <ion-item class="checkbox-container">
    <ion-checkbox
      [(ngModel)]="showOnlyMostTraded"
      slot="start"
      color="primary"
    ></ion-checkbox>
    <ion-label>Show only most traded currencies</ion-label>
  </ion-item>

  <div class="unit-selection-container">
    <ion-label>Choose a currency</ion-label>
    <ion-select
      value="euro"
      okText="Confirm"
      cancelText="Cancel"
      placeholder="Choose the unit"
      [(ngModel)]="currentUnitName"
      (ionChange)="
        this.currentUnit = this.unitConverter.findUnitByName(
          this.currentUnitName,
          showOnlyMostTraded
            ? currencyConverter.mostTradedCurrencies
            : { currencies: currencyConverter.currencies }
        )
      "
    >
      <ng-container *ngIf="showOnlyMostTraded">
        <ion-select-option
          *ngFor="
            let currency of currencyConverter.mostTradedCurrencies.currencies
          "
          [value]="currency.name"
        >
          {{ currency.isoCode }} - {{ currency.name }} ({{ currency.abbreviation
          }})
        </ion-select-option>
      </ng-container>
      <ng-container *ngIf="!showOnlyMostTraded">
        <ion-select-option
          *ngFor="let currency of currencyConverter.currencies"
          [value]="currency.name"
        >
          {{ currency.isoCode }} - {{ currency.name }} ({{ currency.abbreviation
          }})
        </ion-select-option>
      </ng-container>
    </ion-select>
  </div>
  <div class="amount-input-container">
    <ion-label>Choose amount</ion-label>
    <ion-input
      (ionChange)="amount = $event.target.value"
      [value]="amount"
      type="number"
      inputmode="numeric"
      placeholder="Type input"
    ></ion-input>
  </div>

  <div class="results-container">
    <ion-list>
      <div class="header-container">
        <ion-list-header>ISO</ion-list-header>
        <ion-list-header>Currency</ion-list-header>
        <ion-list-header>Value</ion-list-header>
      </div>
      <ion-item-group *ngIf="showOnlyMostTraded">
        <app-accordion-list
          [listName]="'Most traded currencies (from Europian Central Bank)'"
          [iconName]="'chevron-down-outline'"
          [background]="'rgba(var(--ion-color-light-shade-rgb), 0.3)'"
        >
          <ion-item
            *ngFor="
              let currency of currencyConverter.mostTradedCurrencies.currencies
            "
          >
            <ion-label class="iso-code">{{ currency.isoCode }}</ion-label>
            <ion-label
              >{{ currency.name }} ({{ currency.abbreviation }})</ion-label
            >
            <ion-label>
              {{ currency.multiplier && currency.multiplier !== '-1' ?
              unitConverter.convertUnit(currency, currentUnit, amount) : '' }}
              <ion-skeleton-text
                *ngIf="currency.multiplier === '-1'"
                animated
                style="width: 100%;"
              ></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </app-accordion-list>
      </ion-item-group>

      <ion-item-group *ngIf="!showOnlyMostTraded">
        <app-accordion-list
          [listName]="'All currencies (from Europian Central Bank)'"
          [iconName]="'chevron-down-outline'"
          [background]="'rgba(var(--ion-color-light-shade-rgb), 0.3)'"
        >
          <ion-item *ngFor="let currency of currencyConverter.currencies">
            <ion-label class="iso-code">{{ currency.isoCode }}</ion-label>
            <ion-label
              >{{ currency.name }} ({{ currency.abbreviation }})</ion-label
            >
            <ion-label>
              {{ currency.multiplier && currency.multiplier !== '-1' ?
              unitConverter.convertUnit(currency, currentUnit, amount) : '' }}
              <ion-skeleton-text
                *ngIf="currency.multiplier === '-1'"
                animated
                style="width: 100%;"
              ></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </app-accordion-list>
      </ion-item-group>
    </ion-list>
  </div>
</div>
