:host {
  justify-content: flex-start;
  background-color: var(--ion-color-light-tint);
  --background: var(--ion-color-light-tint);

  ion-header ion-toolbar {
    display: flex;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  ion-searchbar {
    --border-radius: 5px;
    --box-shadow: 0;
    ion-input {
      border: 1px solid var(--ion-color-dark);
    }
  }

  ion-list {
    background-color: var(--ion-color-light-tint);
    padding: 0;
    ion-item {
      --background: var(--ion-color-light-tint);
      ion-icon,
      i.material-icons {
        color: var(--ion-color-light-contrast);
        margin-right: 16px;
      }
      ion-label {
        color: var(--ion-color-light-contrast);
      }
    }
    app-accordion-list ion-item {
      padding-left: 16px;
    }
  }
}
