/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
// @import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body,
html {
  --ion-font-family: 'Nunito Sans', 'Lucida Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  ::selection {
    background-color: var(--ion-color-secondary);
  }
}

html,
button,
input {
  font-family: 'Nunito Sans', 'Lucida Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', 'Nunito Sans', 'Lucida Sans', sans-serif;
}

button,
input {
  border: none;
  outline: none;
}

// To avoid white on white and black on black
.light.pure-white app-basic-calculator,
.dark.pure-black app-basic-calculator {
  app-customize-buttons-menu {
    ion-range {
      --ion-color-base: var(--ion-color-light-contrast) !important;
    }
    ion-radio {
      --color: var(--ion-color-light-contrast);
      --color-checked: var(--ion-color-light-contrast);
    }
  }
}

.options-popover .popover-content {
  background-color: var(--ion-color-light-tint);
  padding: 0;
  overflow: hidden;
  ion-button {
    --ion-color-base: var(--ion-color-light-contrast) !important;
  }
  .list {
    padding: 0;
    background-color: transparent;
  }
}

.alert-wrapper {
  --background: var(--ion-color-light-tint);
  .alert-radio-label {
    color: var(--ion-color-light-contrast) !important;
  }
}

.basic-calculator-customize-buttons-modal {
  --background: transparent;
}

// To avoid white on white and black on black
.light.pure-white .alert-wrapper,
.dark.pure-black .alert-wrapper {
  border: 1px solid var(--ion-color-light-contrast);
  .alert-radio-icon {
    border-color: var(--ion-color-light-contrast) !important;
  }
  .alert-radio-inner {
    background-color: var(--ion-color-light-contrast);
  }
  .alert-button {
    color: var(--ion-color-light-contrast);
  }
}
