<ion-segment
  (ionChange)="handleChartTypeChange($event.target.value)"
  value="Line chart"
>
  <ion-segment-button value="Line chart">
    <ion-label>Line</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Bar chart">
    <ion-label>Bar</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Radar chart">
    <ion-label>Radar</ion-label>
  </ion-segment-button>
</ion-segment>

<div class="chart-container">
  <app-line-chart
    *ngIf="currentChartName === 'Line chart'"
    [chartData]="chartDataSets"
    [chartLabels]="chartLabels"
    #linechart
  ></app-line-chart>
  <app-bar-chart
    *ngIf="currentChartName === 'Bar chart'"
    [chartData]="chartDataSets"
    [chartLabels]="chartLabels"
    #barchart
  ></app-bar-chart>
  <app-radar-chart
    *ngIf="currentChartName === 'Radar chart'"
    [chartData]="chartDataSets"
    [chartLabels]="chartLabels"
    #barchart
  ></app-radar-chart>
</div>

<div class="input-container">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        inputmode="numeric"
        (input)="handleChartLabelsInputChange($event.target.value)"
        [value]="chartLabels.join(',')"
        placeholder="Type in a comma seperated list of labels for the chart"
        class="chart-labels-input"
      ></ion-input>
    </ion-item>
    <ion-item *ngFor="let chartData of chartDataSets">
      <ion-buttons slot="start">
        <ion-button (click)="removeDataSet(chartData)">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input
        type="text"
        inputmode="numeric"
        (input)="handleDataInputChange(chartData, $event, $event.target)"
        [value]="chartData.data.toString()"
        placeholder="Type in a comma seperated list of numbers"
      ></ion-input>
      <ion-input
        (input)="handleDataLabelInputChange(chartData, $event.target.value)"
        [value]="chartData.label"
        placeholder="Type in the serie name"
      ></ion-input>
    </ion-item>
    <ion-item button (click)="addChartDataSet()" class="add-serie-button">
      <div class="add-icon-container">
        <ion-icon slot="start" name="add"></ion-icon>
      </div>
      <ion-label>Add serie</ion-label>
    </ion-item>
  </ion-list>
</div>
