<div
  class="math-buttons"
  *ngIf="grid"
  [ngStyle]="{
    'grid-template-areas': grid.areas,
    'grid-template-rows': grid.rows || '1fr '.repeat(grid.height),
    'grid-template-columns': grid.columns || '1fr '.repeat(grid.width),
    'grid-gap': gridStyles.gridGap,
    padding: gridStyles.gridGap
  }"
>
  <button
    *ngFor="let btn of grid.buttons; let j = index"
    (tap)="onTap(btn)"
    (press)="onPress(btn)"
    [ngStyle]="{
      'grid-area': grid.areas ? btn.name || btn.iconName : null,
      'border-radius': gridStyles.buttonStyles['border-radius'],
      'border-width': gridStyles.buttonStyles['border-width']
    }"
    [class]="'ion-activatable ' + btn.class + ' math-button-' + (btn.name || btn.iconName)"
  >
    <span *ngIf="(btn.displayName || btn.name) && !btn.iconName">{{
      btn.displayName ? btn.displayName : btn.name
    }}</span>
    <i class="material-icons" *ngIf="btn.iconName">{{ btn.iconName }}</i>
    <ion-ripple-effect></ion-ripple-effect>
  </button>
</div>
